<!-- 
  Turtlebot navigation simulation:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<!-- <launch>

  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find dwa)/stage/AddverbMap.world">
    
  </node>

</launch> -->
<!-- 
  Turtlebot navigation simulation:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>
  
  <arg name="world_file"    default="$(find wh_ORCA)/stage/AddverbMap.world" />

  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
  </node>

</launch>
