
<launch>
  
  <arg name="world_file"    default="$(find warehouse_orca)/stage/AddverbMap.world" />

  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
  </node>


  <node pkg="map_server" name="map_server" type="map_server" args="$(find warehouse_orca)/stage/AddverbMap.yaml"/>
  
  <node pkg="warehouse_orca" name="rob0" type="turtle_instance_laser_astar_node.py" ns="robot_0" output="screen"/>
  <!-- <node pkg="warehouse_orca" name="robot_1" type="turtle_instance_laser_astar_1.py"/> -->
  <!-- <node pkg="astar" type="astar" name="astar" ns="robot_0" /> -->
	<!-- <node name="rob0" pkg="dwa" type="rob.py" ns="robot_0" output="screen"/> -->
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_0"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
   <node pkg="warehouse_orca" name="rob1" type="turtle_instance_laser_astar_node.py" ns="robot_1" output="screen"/>
 
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_1"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
   <node pkg="warehouse_orca" name="rob2" type="turtle_instance_laser_astar_node.py" ns="robot_2" output="screen"/>
 
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_2"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
  <node pkg="warehouse_orca" name="rob3" type="turtle_instance_laser_astar_node.py" ns="robot_3" output="screen"/>
 
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_3"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
   <node pkg="warehouse_orca" name="rob4" type="turtle_instance_laser_astar_node.py" ns="robot_4" output="screen"/>
 
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_4"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
   <node pkg="warehouse_orca" name="rob5" type="turtle_instance_laser_astar_node.py" ns="robot_5" output="screen"/>
 
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_5"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>

   <node pkg="warehouse_orca" name="rob6" type="turtle_instance_laser_astar_node.py" ns="robot_6" output="screen"/>
 
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_6"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
   <node pkg="warehouse_orca" name="rob7" type="turtle_instance_laser_astar_node.py" ns="robot_7" output="screen"/>
 
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_7"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
  <node pkg="warehouse_orca" name="rob8" type="turtle_instance_laser_astar_node.py" ns="robot_8" output="screen"/>
 
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_8"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
   <node pkg="warehouse_orca" name="rob9" type="turtle_instance_laser_astar_node.py" ns="robot_9" output="screen"/>
 
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_9"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
   
  <node pkg="warehouse_manager" type="warehouse_master" name="warehouse_master" />
  <!-- <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_0"/>
    <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_1"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_2"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_3"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_4"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_5"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_6"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_7"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include>
  <include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_8"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include><include file="$(find astar)/launch/astar.launch">
    <arg name="robot" value="robot_9"/>
     <param name="Euclidean" value="false"/>
    <param name="OccupyThresh" value="-1"/>
    <param name="InflateRadius" value="2.0"/>
    <param name="rate" value="10"/>
  </include> -->
<!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find astar)/rviz/astar.rviz"/> -->

</launch>
